// Footer
footer#footer.page-footer.green.lighten-5
    section#contact
        .row.remove-margin-bottom
            .col.s12
                .container
                    h2 Join the movement.
                    include ../components/hello
            .col.s12
                .container
                    h2 Get social.
                    .row.padding-bottom.remove-margin-bottom
                        .col.s12.m3
                            a(href='https://twitter.com/bangladeshistry', target='_blank')
                                p.flow-text Twitter
                        .col.s12.m3
                            a(href='https://www.instagram.com/bangladeshihistory', target='_blank')
                                p.flow-text Instagram
                        .col.s12.m6.right-align
                            p.flow-text Share your stories with hashtag <a href="https://www.instagram.com/#bangladeshihistory" target="_blank">#bangladeshihistory</a>
.footer-copyright.green.lighten-4
    .row.remove-margin-bottom
        .col.s12
            .container
                .right-align
                    | a <a href='http://withpulp.com' target='_blank'>WITHPULP</a> experiment
