doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        link(rel='stylesheet', href= 'http://bangladeshihistory.com/stylesheets/mail.css')
        link(rel='stylesheet', href= 'http://bangladeshihistory.com/stylesheets/vendor/materialize.min.css')
        //GOOGLE FONTS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Exo+2:300italic,100italic,200italic,200,900italic,300,400,100,400italic,900' rel='stylesheet' type='text/css')
block content
    .row
        .col.s12
            .container
                p.flow-text.padding-top Thanks for reaching out!
                blockquote #{message}
                p.padding-bottom #{senderName} #{senderEmail}
                p.flow-text.padding-top Thank you for your submission to join The Bangladeshi Historical Memory Project!
                p.flow-text.padding-top Have you followed us on <a href='http://twitter.com/@bangladeshihistry'>Twitter</a> and <a href='http://www.facebook.com/bangladeshihistory'>Facebook</a>?
                p.flow-text.padding-top We will be getting back to you soon!
