// Author
section.author
    .padding-top.padding-bottom
        .container.white-text
            .container
                .row.valign-wrapper.remove-margin-bottom
                    .col.s8.valign
                        h3 Sharmin Hossain
                        p.flow-text This project is directed by Sharmin Hossain, a recipient of the 2015 Open Society Youth Exchange Fellowship.
                    .col.s4.valign.right-align
                        img.responsive-img.circle.height-200(src='images/sharmin.jpg')