// Facts
section#facts
    .facts.white-text
        .row.remove-margin-bottom.padding-top.padding-bottom
            .col.offset-m2.m8.s12
                .container
                    p.flow-text.white-text The Bangladeshi Historical Memory Project is a collaborative people’s history of a region of 160 million stories, and over 6 million migrants all over the world; a history realized through a participatory model using our stories as tools for liberation.