// Landing
#introduction
    .grey.darken-4
        section#landing
            .valign-wrapper.landing
                .row.remove-margin-bottom.valign
                    .col.s12.center
                        .container
                            h1.landing-header Bangladeshi Historical Memory Project
                            p.flow-text.description.landing-description A digital archive documenting Bangladeshi<br>
                                span(id='js-rotating' style="font-weight:700") history., art., people., culture., lives., stories., politics., revolution., rebellion.
        .bottom-button-div
            a(href='#mission')
                i.hide-on-small-only.material-icons.large keyboard_arrow_down
            a(href='#mission')
                i.hide-on-med-and-up.material-icons.medium keyboard_arrow_down