// Mission
section#mission
.row.remove-margin-bottom
    .col.s12
        .container
            h2 Our mission
            p.flow-text The Bangladeshi Historical Memory Project is an interactive visual and narrative based digital archive & political theater project documenting the history & resilience of Bangladeshi people. Combining historical and contemporary media, this project explores art, literature, culture, history, and revolution.
