// More
section#more
.row.remove-margin-bottom.padding-bottom
    .container
        .col.s12.m6.padding-top.padding-bottom
            h4 Our work
            p.flow-text This summer, we are organizing a public theater project with brilliantly talented Bangladeshi and South Asian diasporic organizers! We are building up towards an innovative process where we invite South Asian artists, creatives and social change makers to the table to contribute to this interdisciplinary project!
            a.waves-effect.waves-light.btn-large(href='#upcoming')
                i.material-icons.right date_range
                | Upcoming
        .col.s12.m6.padding-top.padding-bottom
            h4 Our stories
            p.flow-text With Bangladeshi residents of New York, the Bangladeshi Historical Memory Project works with oral histories to document the cultures of resilience in the Bangladeshi diaspora. In order to address the historical amnesia around our ancestral lineage, migration and partition stories, this archive serves as a place for historical memory.
            a.waves-effect.waves-light.btn-large(href='#resources')
                i.material-icons.right book
                | Resources