// Upcoming
section
    //.upcoming
    //    .row.remove-margin-bottom
    //    h1 this is a test
    #featuredEvent.modal
        .modal-content
            h3 Bangladeshi Historical Memory Project @ Diversity Plaza!
            p.flow-text.center Meet us outside the 74th & Roosevelt train station in Jackson Heights, Queens to witness the vibrant Bangladeshi community share the resilience of our people.
            p.flow-text.center RSVP to our event on <a href="https://www.facebook.com/events/852396911570724/" target="blank">Facebook</a>.
            p.flow-text.center(style='font-weight:bold') Saturday, July 23 at Diversity Plaza
            p.flow-text.center(style='font-weight:bold') 12 PM to 6 PM
            p.flow-text.center We'll be having alpona by <a href="https://www.facebook.com/makeupbyamrinzakaria" target="blank">Amrin Zakaria</a> and live painting by <a href="http://shurmmi.tumblr.com/" target="blank">Shurmmi M</a>; you can learn how to drape a saree and cook Bangladeshi cuisine with <a href="https://www.facebook.com/jhalnyc/" target="blank">Jhal NYC</a>.
            p.flow-text.center At 4PM, join us for live performances by <a href="https://www.facebook.com/TheFeringhees/" target="blank">The Feringhees</a>, <a href="https://www.youtube.com/user/maishabipa" target="blank">Zarrin Maisha</a> and the Bangladeshi Historical Memory Project jatra troupe!
            p.flow-text.center This event is free, open to the public, and family friendly! There's food, live music, art and political history - what's your excuse for not making it?
            p.flow-text.center(style='font-weight:bold') Train Directions: E/F/R/M/7 to 74 Roosevelt
            p.flow-text.center Join us as volunteer and get involved by filling out this <a href="https://docs.google.com/forms/d/1GPnXZ6kt7iQDmPVh9dRYaEcne5btyKZ2aZV-LHDJGHY/viewform?c=0&w=1" target="blank">form</a>!
            p.flow-text.center Funding support for activities at Diversity Plaza are provided by the NYC Department of Transportation’s One NYC Plaza Equity Program. Activities are coordinated by the Queens Museum, NICE, Chhaya, and The Bangladeshi Historical Memory Project. Special thanks to DRUM and all workers and neighbors in Jackson Heights.
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#introduction') CLOSE
