@font-face {
    font-family: 'samarkanoblique';
    src: url('../fonts/samaro__-webfont.eot');
    src: url('../fonts/samaro__-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/samaro__-webfont.woff2') format('woff2'),
    url('../fonts/samaro__-webfont.woff') format('woff'),
    url('../fonts/samaro__-webfont.ttf') format('truetype'),
    url('../fonts/samaro__-webfont.svg#samarkanoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}


::selection {
    color: #FF5252;
    background:#4CAF50;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

main {
    flex: 1 0 auto;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 300;
}

.height-200 {
    max-height: 200px;
}

a {
    color: #ffffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.collection-item a {
    color: #000000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

nav {
    color: #fff;
    background-color: #4CAF50;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.card-title {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #4CAF50;
}

.card .card-action a:hover:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #FF5252;
}

a {
    color: #4CAF50;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    color: #FF5252;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #4CAF50;
}

/* Collections */

.collection-item a:hover {
    color: #4CAF50;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.collection {
    border: 0px solid #e0e0e0;
}

.collection-item {
    border-bottom: 0px solid #e0e0e0 !important;
}

/* Helpers */
.remove-margin-bottom {
    margin-bottom: 0px !important;
}

.remove-margin-top {
    margin-top: 0px !important;
}

.remove-padding {
    padding: 0px !important;
}

.padding-top {
    padding-top: 20px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.bottom-button-div {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.description {
    letter-spacing: 0.25rem;
    font-weight: 400;
}

.post-header {
    letter-spacing: 0.25rem;
    font-weight: 700;
}

.post-description {
    letter-spacing: 0.25rem;
    font-weight: 400;
}

/* Landing */
.landing {
    background: url('../images/backgrounds/background.jpg');
    height:100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-header {
    font-family: 'samarkanoblique';
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

.landing-description {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

/* Stories */
.stories {
    background-color: #ffffff;
}

/* Facts */
.facts {
    background-color: #212121;
}

/* Author */
.author {
    background-color: #424242;
}

/* Updates */
.updates {
    background-color: #C8E6C9;
}

.clear {
    clear: both;
}

.portfolio .portfolio-holder {
    clear: both;
    text-align: center;
}

.portfolio img {
    width: 25%;
    display: inline-block;
    float: left;
}

.btn{
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
    color: #FF5252;
    background-color: #4CAF50;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.btn-large:hover {
    text-decoration: none;
    color: #FF5252;
    background-color: #4CAF50;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


/* ==========================================================================
   Screen size agnostic
   ========================================================================== */

/* Menu */
/* Overlay style */
.overlay {
    font-family: 'samarkanoblique';
    font-weight: 100;
    font-style: normal;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4CAF50;
    z-index: 10000000;
}

/* Overlay closing cross */
.overlay .overlay-close {
    /* Styles */
}
.overlay .close-button {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    border: none;
    z-index: 10000001;
}

.overlay ul li {
    padding-bottom: 10px;
    min-height: 54px;
}

.overlay ul li a {
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #FF5252;
}

/* Effects */
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-hugeinc {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.overlay-hugeinc ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.overlay-hugeinc.close ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}

/* Menu Button*/
.topright {
    cursor: pointer;
    color: #4CAF50;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 15px;
    right: 25px;
    width: 50px;
    z-index: 999999;
}

.topright:hover {
    color: #FF5252;
}

.remove-font-styles {
    color: rgba(0,0,0,0.87) !important;
}

.git-data {
    border-right: solid #E4E4E4;
    min-height: 100px;
}

.git-image {
    max-width: 250px;
}

.sub {
    color: #ffffff;
}

.chips-padding {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.padding-top {
    padding-top: 2.5rem;
}

.padding-bottom {
    padding-bottom: 2.5rem;
}

.padding-right {
    padding-right: 0.75rem;
}

.smaller {
    font-size: 75%;
}

.smallest {
    font-size: 65%;
    font-style: italic;
}

.top-content {
    padding-bottom: 2rem;
}

.bottom-content-padding-bottom {
    padding-bottom:2rem;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.my-lists {
    padding-left: 2.33rem;
    padding-right: 2.33rem;}

.my-list-item {
    list-style-type: disc;
}

/* ==========================================================================
   Materialize helper classes
   ========================================================================== */

/* Placeholder */
input::placeholder {
    color: rgba(0,0,0,0.87);
}

/* Label color */
.input-field label {
    color: rgba(0,0,0,0.87);
}
/* Label focus color */
.input-field input[type=text]:focus + label {
    color: #4CAF50;
}
/* Label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
/* Valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
/* Invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #b71c1c;
    box-shadow: 0 1px 0 0 #b71c1c;
}
/* Label focus color */
.input-field textarea[type=textarea]:focus + label {
    color: #4CAF50;
}
/* Label underline focus color */
.input-field textarea[type=textarea]:focus {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
/* Valid color */
.input-field textarea[type=textarea].valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* Invalid color */
.input-field textarea[type=textarea].invalid {
    border-bottom: 1px solid #b71c1c;
    box-shadow: 0 1px 0 0 #b71c1c;
}
/* Label focus color */
.input-field input[type=email]:focus + label {
    color: #4CAF50;
}
/* Label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
/* Valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* Invalid color */
.input-field input[type=email].invalid {
    border-bottom: 1px solid #b71c1c;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* Icon prefix focus color */
.input-field .prefix.active {
    color: #4CAF50;
}

/* Chip, restore padding */
.chip {
    margin-left: 2px !important;
    margin-bottom: 2px !important;
}

/*
* From css-tricks.com
* http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .description {
        font-size: 1.25rem;
    }

    .landing-header {
        font-size: 2.25rem;
    }

    /* Menu style */
    .overlay ul {
        margin: 0 auto;
        list-style: none;
        padding: 0;
        font-size: 2.25rem;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    .description {
        font-size: 1rem;
    }

    .landing-header {
        font-size: 2rem;
    }

    /* Menu style */
    .overlay ul {
        margin: 0 auto;
        list-style: none;
        padding: 0;
        font-size: 2rem;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .description {
        font-size: 1.5rem;
    }

    .landing-header {
        font-size: 3.5rem;
    }

    /* Menu style */
    .overlay ul {
        margin: 0 auto;
        list-style: none;
        padding: 0;
        font-size: 3.5rem;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .description {
        font-size: 2rem;
    }

    .landing-header {
        font-size: 4rem;
    }

    /* Menu style */
    .overlay ul {
        margin: 0 auto;
        list-style: none;
        padding: 0;
        font-size: 4rem;
    }

    .flow-text {
        font-size: 1.5em;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .landing-header {
        font-size: 4.5rem;
    }

    /* Menu style */
    .overlay ul {
        margin: 0 auto;
        list-style: none;
        padding: 0;
        font-size: 4.5rem;
    }

    .description {
        font-size: 1.5rem;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}