// OPEN/CLOSE
#overlay.overlay.overlay-hugeinc.valign-wrapper
    a.overlay-close.close-button(type='button')
        i.white-text.material-icons.medium close
    ul.center-align.valign
        li.closer
            a(href='#top', onclick='closeTheShit()') Home
        li.closer
            a(href='#mission', onclick='closeTheShit()') Mission
        li.closer
            a(href='#upcoming', onclick='closeTheShit()') Upcoming
        li.closer
            a(href='#resources', onclick='closeTheShit()') Resources
        li.closer
            a(href='#contact', onclick='closeTheShit()') Contact